.card-body {
}

.card-title {
  margin: 10px 0;
  font-weight: bold;
}

.card-text {
  margin: 5px 0;
}

.btn.custom-btn {
  background-color: #8b3eea; /* Set the background color to #8b3eea */
  color: white; /* Ensure text is readable */
  text-decoration: none;
  border: none; /* Remove border */
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn.custom-btn:hover {
  background-color: #702fc6; /* Darken the color slightly on hover */
}
