<<<<<<< HEAD
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #dbdad5;
=======
html, body {
  height: 100%;
  width:100%;
  margin: 0;
  padding: 0;
  background-color: #dbdad5; /* Replace with your preferred color */
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 ;
  padding: 0;
  text-align: center;
  background-color: #dbdad5; 
  height:100%
>>>>>>> 8e6d8d5eb01b7c4ba8581f2c05b383e1eac02581
}

#root {
  padding: 5px;
}

body {
  min-height: 100vh;
}
