.billing-container {
    width: 100%;
    max-width: 400px; /* Adjust width for a slimmer form */
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.billing-header h2 {
    color: #ccc;
    text-align: center;
    margin-bottom: 20px; /* Added space between header and options */
    font-size: 20px;
}

.billing-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px; /* Space between each payment option */
    display: flex;
    align-items: center; /* Aligns the text with the radio button */
}

.icon {
    margin-left: auto; /* Space after the text */
    color: #8b3eea;
}

.promo-code-container {
    display: flex;
    margin-top: 20px; /* Added more space above the promo code input */
}

.promo-code-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.clear-promo-btn {
    margin-left: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #666;
}

.billing-button {
    width: 100%;
    background-color: #8b3eea;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.error-message, .success-message {
    text-align: center;
    color: #ff0000;
    margin-top: 10px;
}

.success-message {
    color: #008000;
}
